@model IEnumerable<GlarinWood.Models.PicGallery>

@{
    ViewData["Title"] = "لیست تصاویر";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>لیست تصاویر</h2>

<p>
    <a asp-action="Create">ایجاد گالری تصاویر</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Keywords)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tags)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="~/metro/img/PicGallery/@item.Image" style="width:200px;height:200px;" alt="PicGallery" />
                <br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keywords)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
