@model GlarinWood.Models.Product

@{
    ViewData["Title"] = "جزئیات";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";

}

<h2>جزئیات</h2>

<div>
    <h4>محصول</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>
@*
    <dt>
        @Html.DisplayNameFor(model => model.Lenght)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Lenght)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Width)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Width)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Height)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Height)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Thicnekss)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Thicnekss)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Depth)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Depth)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.MinSize)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.MinSize)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.MaxSize)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.MaxSize)
    </dd>*@
       
        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">ویرایش</a> |
    <a asp-action="Index" class="btn btn-primary">بازگشت به لیست</a>
</div>
