@model IEnumerable<GlarinWood.Models.Product>

@*@inject IHttpContextAccessor _contextAccessor*@
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "لیست محصولات";
    //Layout = "~/Areas/Admini/Views/Shared/_Layout.cshtml";
    Layout = "_Layout";


}
 
<!-- Shop Page Area Start Here -->
<div class="shop-page-area">
    @*<h2 style="text-align:center">@Model</h2>*@
    @*<h1 style="font-family:Verdana;color:teal;text-align:center"> </h1>*@
    <div class="container">
        <div class="row products-container">
            @foreach (var item in Model)
            {
                
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product-box1">
                        <ul class="product-social">
                            @*<li><a href=" javascript:void(0)" class="btnDetails" aria-hidden="true" data-value="@item.Id" data-cat= "@ViewData["CatId"]"  ><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>*@
                                @*<li><a href="shop7.html#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>*@
                             <li><a href=" javascript:void(0)" class="btnDetails" aria-hidden="true" data-value="@item.Id" data-cat= "@ViewData["CatId"]"><i class="fa fa-eye " aria-hidden="true"></i> </a></li>
                        </ul>
                        <div class="product-img-holder">
                            @*style="width:272px;height:380px;"*@
                            <a href="#"><img  src="~/metro/img/product/AllProductImage/@item.Image" alt="product"></a>
                        </div>
                        <div class="product-content-holder">
                            <h3 style="font-family:Tahoma;text-align:center">@item.Name</h3>
                             <!--جهت عدم نمایش رنگ در محصولات کاربردی-->
                          
                                <span>@item.Color</span>
                                  <br/>
                            @*<p><h4> <span style="color:black;">@Html.DisplayNameFor(model => item.Price):</span><span style="color:black;">&nbsp;@Html.DisplayFor(model => item.Price)</span></h4></p>*@

 
                        </div>
                    </div>
                </div>
               <!-- Modal Dialog Box Start Here-->

                <div id="conteudoModal"></div>
                 <!-- Modal Dialog Box End Here-->
            }
        </div>
 
        <!--صفحه بندی-->
        <div class="row text-center">
            <nav>
                <ul class="pagination">
                    @*<li class="disabled"><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>*@
                    @for (int i = 1; i <= (ViewBag.PageCount + 1); i++)
                    {
                        <li class="@(((int)ViewBag.PageID==i)?"active":"")"><a asp-route-id="@ViewData["CategoryViewId"]" asp-route-pageid="@i"  asp-action="List">@i<span class="sr-only">(current)</span></a></li>
                    }

                    @*<li class="disabled"><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>*@
                </ul>
            </nav>
        </div>
        <!--انتهای صفحه بندی-->
 
        <!--جهت نمایش مودال محصولات-->

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btnDetails").click(function () {
                var id = $(this).data("value");
                //var cat = $(this).data("cat");
               
                $("#conteudoModal").load("/Products/ModalDetails/" + id,
                    function () {
                        
                        $('#myModal').modal("show")
                    }
                );
            })

        })
    </script>
 
}
    </div>
</div>


 